.block {
    display: grid;
    gap: 10px;
    color: var(--tg-theme-hint-color);
}

.block label {
    display: block;
    font-size: .9em;
    font-weight: 500;
    color: var(--tg-theme-section-header-text-color)
}


.block input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    color: var(--tg-theme-text-color);
    border: none;
    background-color: var(--tg-theme-secondary-bg-color);
}