.button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--tg-theme-button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button svg {
    width: 12px;
    fill: var(--tg-theme-text-color);
}