.button {
    cursor: pointer;
    max-width: fit-content;
    border: none;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-button-color);
    border-radius: var(--border-radius);
    transition: all .2s ease;
    padding: 5px 10px;
    text-decoration: none;
}

.button:hover {
    opacity: .9;
}