.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--success-color);
    border-radius: var(--border-radius);
    padding: 10px;
    color: #fff;
    border: 0;
    font-size: 1.2em;
    font-weight: 500;
    transition: all .2s ease;

    max-width: 100%;
    background: rgb(191, 15, 255);
    background: linear-gradient(90deg, rgba(191, 15, 255, 1) 0%, rgba(67, 77, 180, 1) 100%);
}



.button:hover {
    opacity: 0.9;
}