.code {
    display: grid;

    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--tg-theme-secondary-bg-color);

}

.accent {
    color: var(--tg-theme-accent-text-color)
}

.code p {
    color: var(--tg-theme-hint-color);
    word-wrap: break-word;
    overflow-wrap: break-word;

}

@media (max-width:480px) {
    .code p {
        max-width: 300px;
    }
}

@media (max-width:375px) {
    .code p {
        max-width: 250px;
    }
}