:root {
  --max-width: 768px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* using for tests with fake telegram id*/
  /* --tg-theme-bg-color: rgb(194, 194, 194);
  --tg-theme-secondary-bg-color: #0f0f0f;
  --tg-theme-subtitle-text-color: #303030;
  --tg-theme-button-color: #8774e1;
  --tg-theme-section-bg-color: #212121;
  --tg-theme-hint-color: #aaaaaa;
  --tg-theme-accent-text-color: #8774e1;
  --tg-theme-text-color: white;
  --tg-theme-section-header-text-color: #aaaaaa; */


  --success-color: #5c0;
  --accent-color: #08c;
}

body {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--tg-theme-secondary-bg-color);
}


h1,
h2,
h3,
h4,
p,
span,
select,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  font-size: 1em;
  line-height: 1.3em;
  color: var(--tg-theme-text-color)
}